.form {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input {
    padding: 16px;
    border-radius: 8px;
    border: 0;
    background: #262626;
    flex: 1;
    color: #fff;
    font-size: 16px;
}

.form button {
    background: #1E6F9F;
    padding: 16px;
    border-radius: 8px;
    border: 0;
    margin-left: 8px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;
    color: #F2F2F2;
}

.form button span {
    font-weight: bold;
    font-size: 14px;
}