.task {
    background: #333333;
    padding: 16px;
    border-radius: 8px;
    margin-top: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task>div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.completeIcons {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.delete {
    cursor: pointer;
}

.complete {
    text-decoration: line-through;
}

.not-complete {
    text-decoration: initial;
}